@import '../index.scss';

.country_card_container {
    .no_country_err-message-container {
        width: 100%;
        height: calc(100vh - 161px);
        text-align: center;
        letter-spacing: 1px;
    }

    .row {
        min-height: calc(100vh - 161px);
    }
    .country-card-link {
        color: unset;
        text-decoration: none;
        &:hover {
            color: unset;
        }
    }
}

@media screen and (max-width: 480px) {
    .no_country_err-message-container {
        font-size: 15px;
    }
}
