@import '../index.scss';

.country_card_container {
    .loader_container {
        width: 100%;
        height: calc(100vh - 161px);
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin-top: -5rem;
        }
    }
    .err-message-container {
        width: 100%;
        height: calc(100vh - 161px);
        text-align: center;
    }
    .country-card-link {
        color: unset;
        text-decoration: none;
        &:hover {
            color: unset;
        }
    }
}
